@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h1>Clients</h1>

<ul>
  @foreach (Client client in Model)
  {
    <li>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId }) (<em>
        @Html.ActionLink($"{client.Stylist.Name}", "Details", "Stylists", new{ id = client.Stylist.StylistId}) </em>)</li>
  }
</ul>

<p>@Html.ActionLink("Add new client", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>